id ICON "trsync_idle.ico"
trsync_idle ICON "trsync_idle.ico"
trsync_working1_v2 ICON "trsync_working1_v2.ico"
trsync_working2_v2 ICON "trsync_working2_v2.ico"
trsync_working3_v2 ICON "trsync_working3_v2.ico"
trsync_working4_v2 ICON "trsync_working4_v2.ico"

